<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.didim99.tstu">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:name=".TSTU"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".ui.StartActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.TranslatorActivity"
      android:label="@string/startTranslator"/>
    <activity
      android:name=".ui.NumericActivity"
      android:label="@string/startNumeric"/>

    <activity
      android:name=".ui.math.MathStatActivity"
      android:icon="@mipmap/ic_launcher_stat"
      android:label="@string/startMathStat"
      android:launchMode="singleTop"/>
    <activity
      android:name=".ui.math.RV2Activity"
      android:label="@string/startRV2"
      android:launchMode="singleTop"/>
    <activity
      android:name=".ui.math.CAActivity"
      android:label="@string/startCA"
      android:launchMode="singleTop"/>

    <activity
      android:name=".ui.graphics.LinesActivity"
      android:label="@string/graphics_bresenham"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.graphics.HorizonActivity"
      android:label="@string/graphics_horizon"
      android:theme="@style/AppThemePrint"/>

    <activity
      android:name=".ui.mp.lab1.L1ActMain"
      android:label="@string/mp_uiBasics"/>
    <activity
      android:name=".ui.mp.lab1.ActTask1"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask2"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask3"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask41"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask42"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask51"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask52"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask53"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab1.ActTask54"
      android:label="@string/mp_uiBasics"
      android:theme="@style/AppThemePrint"/>

    <activity
      android:name=".ui.mp.lab2.L2ActMain"
      android:label="@string/mp_IOBasics"/>
    <activity
      android:name=".ui.mp.lab2.ActTask11"
      android:label="@string/mp_IOBasics"
      android:theme="@style/AppThemePrint"/>
    <activity
      android:name=".ui.mp.lab2.ActTask12"
      android:label="@string/mp_IOBasics"
      android:theme="@style/AppThemePrint"/>

    <activity
      android:name=".ui.oop.AbiturientActivity"
      android:label="@string/oop_abit"/>

    <activity
      android:name=".ui.dirpicker.DirPickerActivity"
      android:label="@string/actLabel_dirPicker"
      android:launchMode="singleTop"
      android:theme="@style/AppThemeDialog"/>
  </application>

</manifest>